$icon-index: 100;

.left {
	left: var(--space);
}

.right {
	right: var(--space-sm);
}

.top {
	top: var(--space-sm);
}

.bottom {
	bottom: var(--space-sm);
}

.icon {
	@extend .top, .left;
	position: absolute;
	z-index: $icon-index;
}

.input {
	padding: var(--space-xs) var(--space-md);
}

.input:disabled {
	background-color: var(--color-gray-90);
}

.input:focus ~ .icon {
	color: var(--color-secondary);
}

.input:focus:invalid ~ .icon {
	color: var(--color-error);
}

.textarea {
	padding: var(--space-sm);
	padding-right: var(--space);
}

.textarea ~ .icon {
	@extend .top, .right;
	left: auto;
}
