{
	"extends": ["eslint:recommended", "prettier"],
	"overrides": [
		{
			"files": "*.ts?(x)",
			"extends": "./packages/eslint-config/typescript"
		},
		{
			"files": ["**/__+(tests|mocks|snapshots)__/**/*", "**/*.{spec,test}.*"],
			"extends": "./packages/eslint-config/jest"
		},
		{
			"files": [
				"./*.js",
				"./packages/*.js",
				"./packages/*/*.js",
				"./eslint/**/*.js"
			],
			"extends": "./packages/eslint-config/node"
		},
		{
			"files": "*.json",
			"extends": "plugin:json/recommended"
		}
	]
}
