{
	"extends": ["eslint:recommended", "prettier"],
	"overrides": [
		{
			"files": ["*.{tsx,ts}"],
			"extends": "./eslint/typescript"
		},
		{
			"files": "**/__tests__/**/*",
			"extends": "./eslint/jest"
		},
		{
			"files": [
				"./*.js",
				"./packages/*.js",
				"./packages/*/*.js",
				"./eslint/**/*.js"
			],
			"extends": "./eslint/node"
		},
		{
			"files": "**/*.json",
			"extends": "plugin:json/recommended"
		}
	]
}
