.button {
	color: var(--color-white);
	font-weight: var(--weight-bold);
	background: var(--color-black);
	border-radius: var(--border-radius-md);
	padding: var(--space-sm) var(--space);
	border: 0px;
	cursor: pointer;
}
