@use 'breakpoints';

.form {
	max-width: breakpoints.$big;
}

.message {
	width: min(400px, 100%);
	margin: 0 auto;
	margin-bottom: var(--space-md);
}

.form > .fields {
	display: flex;
	flex-direction: column;
	gap: var(--space);
	width: 100%;
}

@media screen and (min-width: breakpoints.$shepard) {
	.form > .fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.fields > .col1 {
		grid-column: 1 / span 1;
	}

	.fields > .col2 {
		grid-column: 2 / span 1;
		grid-row: 1 / span 3;
	}
}
