@use 'breakpoints';

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: breakpoints.$big;
	margin: 0 auto;
}

.message {
	width: min(400px, 100%);
	margin: 0 auto;
}

.title {
	animation: 2s infinite typing;
	overflow: hidden;
}

.form > .fields {
	margin-block: var(--space-lg);
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

@media screen and (min-width: breakpoints.$shepard) {
	.form > .fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.fields > .col1 {
		grid-column: 1 / span 1;
	}

	.fields > .col2 {
		grid-column: 2 / span 1;
		grid-row: 1 / span 3;
	}
}

.form > .button {
	margin: 0 auto;
}

@keyframes typing {
	from {
		width: 2rem;
	}

	30% {
		width: 100%;
	}

	to {
		width: 100%;
	}
}
