@use 'styles/typography/functions' as type;
@use 'styles/breakpoints' as bp;

$gap: type.rem(88);

.top,
.main {
	padding: 0 clamp(var(--space), 10vw, $gap);

	@media screen and (min-width: bp.$dalmata) {
		padding: 0 20vw;
	}

	@media print {
		padding: 5vw;
	}
}

.top {
	padding-bottom: var(--space);

	@media print {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
	}
}

.container {
	@media print {
		gap: 2px;
	}
}

.container,
.top {
	--gap: #{$gap};

	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.top {
	gap: type.rem(2);
}

@media print {
	.container,
	.top,
	.main {
		gap: 0;
	}
}
