@use 'styles/typography/functions' as type;
@use 'styles/breakpoints' as bp;

$gap: type.rem(88);

.top,
.main {
	padding: 0 clamp(var(--space), 10vw, $gap);

	@media screen and (min-width: bp.$dalmata) {
		padding: 0 20vw;
	}
}

.top {
	padding-bottom: var(--space);
}

.container,
.top {
	--gap: #{$gap};

	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.top {
	gap: type.rem(2);
}

.top {
	background-color: var(--color-background-2);
}
