@use 'styles/typography/functions' as type;
@use 'styles/breakpoints' as bp;

$gap: type.rem(88);

.top,
.main {
	padding: 0 clamp(var(--space), 10vw, $gap);

	@media screen and (min-width: bp.$dalmata) {
		padding: 0 20vw;
	}
}

.top {
	padding-bottom: var(--space);
}

.container,
.top {
	--gap: #{$gap};

	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.top {
	background-color: var(--color-background-2);
}

.profile {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.footer {
	border-top: type.rem(1px) solid var(--color-gray-79);
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin: 0 var(--space);
	padding: var(--space-sm);
	align-items: center;
}

.footer > .built {
	display: flex;
	align-items: center;
	gap: var(--space-sm);
}
