@use "sass:math";
@use "mixins" as *;
@use "functions" as *;

@include setup();

:root {
	--space: #{baseline(1)};
	--space-md: #{baseline(2)};
	--space-lg: #{baseline(3)};
	--space-xl: #{baseline(4)};

	--weight-light: 100;
	--weight-regular: 340;
	--weight-bold: 400;
	--weight-bolder: 500;
}

@font-face {
	font-family: Josefin Sans;
	src: url(/JosefinSans-wght.tff) format(truetype);
}

body {
	font-family: Josefin Sans, OpenSans, sans-serif;
	font-weight: var(--weight-regular);
}

h1,
.h1 {
	@include scale(4);
	font-weight: var(--weight-light);
}

h2,
.h2 {
	@include setting(18px);
	font-weight: var(--weight-bolder);
}

h3,
.h3 {
	@include setting(17px);
	font-weight: var(--weight-bold);
}
